{% extends 'base.html' %}
{% load static %}
{% block title %} recipes-inner {% endblock %}
{% load i18n %}
{% block content %}

     <header class="header">
      <div class="container">
        <div class="header-content">
          <div class="header-logo">
            <div class="header-logo__img"><a href="#"><img src="{% static 'img/svg/logo-header.svg' %}"/></a></div>
          </div>
          <div class="header-nav__content">
            <div class="navigation">
              <ul class="nav">
                <div class="nav-group">
                  <li class="nav-link "><a href="{% url 'about' %}">{% trans 'О нас' %}</a></li>
                  <li class="nav-link"><a href="{% url 'products' %}">{% trans 'Продукция' %} </a></li>
                  <li class="nav-link"><a href="{% url 'publications' %}">{% trans 'Публикации' %}</a></li>
                </div>
                <div class="nav-group">
                  <li class="nav-link active"><a href="{% url 'recipes' %}">{% trans 'Рецепты' %}</a></li>

                </div>
              </ul>
            </div>
            <div class="header-language">
              {% include 'include/social_media.html' %}
              {% include 'include/languages.html' %}
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="product recipes-inner">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1> {% trans 'рецепты' %}</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
            {% include 'include/href-the-home.html' %}
              <div class="recipes__content">
                <div class="recipes__content-block">
                  <h2 class="h2">{{ recipes.title }}</h2><img src="{{recipes.image.url }}"/>
                  <p class="p">{{ recipes.description }}</p>
                </div>
                <div class="recipes__content-block">
                  <h2 class="h2">{% trans 'Ингредиенты:' %}</h2>
                  <p>{{ recipes.ingredients|safe }}</p>

                </div>
                <div class="recipes__content-block">
                  <h2 class="h2">Cпособ приготовления</h2>
                  <p>{{ recipes.directions|safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-product">
      <div class="container">
        <div class="product-sausage">
          <div class="product-right">
            <div class="product__card-all">

              {% for item in recipes.products.all %}
              <div class="product__card-inner">
                <div class="product__card">
                  <div class="product__card-img" data-mh="my-group3"><img src="{{ item.image.url }}"/></div>
                  <h4 data-mh="my-group"> {{ item.name }}</h4><a href="{% url 'product-detail' item.id %}"></a>
                </div>
              </div>
              {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  {% endblock %}